body{
  font-family: nunito;
  color: white;
  font-weight: bold;
}
.card-cont1, .card-cont2, .card-cont3 {
  display: inline-block;
  min-width: 250px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.card-item{
  padding: 35px 30px;
}
.headline{
  font-size: 15px;
}
.card-cont1::after, .card-cont2::after, .card-cont3::after,
.card-cont1::before, .card-cont2::before, .card-cont3::before{
  content: " ";
  display: block;
  position: absolute;
  border-radius: 50%;
  background-image: radial-gradient(circle, rgba(255,255,255,0.44147157190635455) 0%, rgba(255,255,255,1) 100%);
  opacity: 30%;
}
.card-cont1::after, .card-cont2::after, .card-cont3::after{
  top: -10%;
  right: -20%;
  width: 130px;
  height: 130px;
}
.card-cont1::before, .card-cont2::before, .card-cont3::before{
  bottom: -45%;
  right: -10%;
  width: 150px;
  height: 150px;
}
.sum{
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.caption{
  font-size: 12px;
}
.card-cont1{
  background-image: linear-gradient(90deg, rgba(252,189,145,1) 0%, rgba(254,142,171,1) 100%);
}
.card-cont2{
  background-image: linear-gradient(90deg, rgba(140,200,242,1) 0%, rgba(52,151,225,1) 100%);
}
.card-cont3{
  background-image: linear-gradient(90deg, rgba(125,217,210,1) 0%, rgba(45,215,190,1) 100%);
}
.icon{
  position: absolute;
  top: 15%;
  right: 10%;
  width: 18px;
}